{% extends "base.html.twig" %}

{% block body %}
    <p>My Trainer fist name  is <strong>{{ trainer.firstName }}</strong> {{ trainer.LastName }} and his age is {{ trainer.age}} years</p>

{% endblock %}


